<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::content})}">

<head>
    <title>Editar Estudiante</title>
</head>

<div class="row" th:fragment="content">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-align-justify"></i>
                    <strong class="card-title" v-if="headerText">Editar estudiante</strong>
                </div>
                <div class="card-body">
                    <form th:action="@{/estudiantes/update/{id}(id=${estudiante.id})}"
                          method="post" th:object="${estudiante}">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Nombre</div>
                                <input type="text" th:field="*{nombre}" th:value="${estudiante?.nombre}" required
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Apellido</div>
                                <input type="text" th:field="*{apellido}" class="form-control"
                                       th:value="${estudiante?.apellido} ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Matricula</div>
                                <input type="text" th:field="*{matricula}" class="form-control" required
                                       th:value="${estudiante?.matricula}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Telefono</div>
                                <input type="text" th:field="*{telefono}" class="form-control"
                                       th:value="${estudiante?.telefono} ">
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

